html {
  box-sizing: border-box;
  font-family: Georgia, serif;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #495562;
  color: #fff;
  width: 100%;

}
 @media only screen and (min-width: 60em) {

 .banner-content {
  background-color: rgba(73, 85, 98, .2);
 }

 }
